.example-form= render :partial => 'form'

<pre style="text-align: left">
LOL-TODO:
add HTML5 required attribute to fields
add aria-required attr
add aria-invalid attr
add animation to error flags
</pre>
  
