.example-form= render :partial => 'form'

<div style="text-align: left; position: fixed; bottom: 0;">
<p><a href="#" role="button" onclick="$('pre').toggle(); return false">See todos (6)</a></p>
<pre style="display: none">
LOL-TODO:
add animation to error flags
fix single checkbox error display
test multiple checkbox scenario
test format validation (email, numerical)
fix error validation onblur
refactor error message to not be a LABEL element
%s add HTML5 required attribute to fields
%s add aria-required attr
%s add aria-invalid attr
%s fix multiple LEGEND elements
</pre>
</div>
  
