.example-form= render :partial => 'form'

<div style="text-align: left; position: fixed; bottom: 0;">
<p><a href="#" role="button" onclick="$('pre').toggle(); return false">See todos (6)</a></p>
<pre style="display: none">
LOL-TODO:
properly attribute this as a fork of <a href="https://github.com/bcardarella/client_side_validations"> bcardarella / client_side_validations</a> and merge with latest
fix single checkbox error display
test multiple checkbox scenario
test format validation (email, numerical, pattern, length)
fix error validation onblur
test with simple_form and formtastic
refactor error message to not be a LABEL element
clear error-rollup onblur of corrected invalid field
add animation to error flags
%s add HTML5 required attribute to fields
%s add aria-required attr
%s add aria-invalid attr
%s fix multiple LEGEND elements
</pre>
</div>
  
