.example-form= render :partial => 'form'

<pre style="text-align: left; position: fixed; bottom: 0;">
LOL-TODO:
add HTML5 required attribute to fields
add aria-required attr
add aria-invalid attr
add animation to error flags
fix multiple LEGEND elements
fix single checkbox error display
test multiple checkbox scenario
test format validation (email, numerical)
</pre>
  
