// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "modules/base";

* {
  @include box-sizing(border-box);
}


body {
  margin: 1em;
  text-align: center;
  /*@include background(radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px);*/
  /*background-color: #282828;*/
  /*background-size: 16px 16px;*/
  /*background-image: inline-image("stripe.gif");*/
  /*background-image: url("http://wallpaperpassion.com/upload/1953/apple--wallpaper.jpg");*/
}

a {
  @include text-shadow(2px 2px 5px #333);

  &:hover {
    text-decoration: none;
  }
}

label {
  cursor: pointer;
  cursor: hand;
}

.required-indicator {
  color: $error_color;
  font-weight: bold;
}

.inline-error-message {
  color: $error_color;
}

.field-wrap {
  padding: 1em 1em;

  .principal-label {
    display: block;
    margin-bottom: .3em;
  }

  legend {
    @extend .principal-label;
    padding-top: 1em;
  }
}

div.field_with_errors {
  position: relative;

  .inline-error-message {
    @include squish-text;
    @include replace-text-with-dimensions("error.png", $inline: true);
    margin-top: -8px;
    position: absolute;
    top: 50%;
    left: $field_padding;
  }
}

%error_presentation {
  background-color: $error_color;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
}

.validation-rollup {
  @extend %error_presentation;
  margin: 0;

  > li {
    margin: 0 auto;
    max-width: $form_width;
    text-align: left;
  }

  a {
    color: lightyellow;
  }
}

.validation-rollup-title {
  @extend %error_presentation;
  @include box-shadow(0 5px 20px #333);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  width: 100%;
}

.example-form {
  background-color: rgba(#ccc, .2);
  max-width: $form_width;
  margin: 5em auto;
  border: 1px solid #666;
  @include border-radius(3px);
  @include box-shadow(#666 0 0 25px, rgba(#333, .25) 0 0 30px inset);
  text-align: left;
  position: relative;
  z-index: 1;

  header {
    margin: 0 1em;
  }
}

%input_box {
  padding: $field_padding $field_padding $field_padding $field_padding;
}

%input_style {
  @extend %input_box;
  width: 100%;
  border-width: 1px;
  border-style: inset;
  border-color: #ccc;

  &:focus {
    @include transition-property("box-shadow, border");
    @include transition-duration("1s, 1s");
    @include transition-timing-function("linear, linear");
  }
}

%error_wrapper {
  border-color: $error_color;
  @include box-shadow($error_color 0 0 13px);
}

%error_wrapper_reset {
  border-width: 0;
  @include box-shadow(none);
}

%field_has_errors {
  .field_with_errors & {
    @extend %error_wrapper;
    padding-left: 26px;

    &:focus {
      @include box-shadow(none);
    }
  }

}

.composite-field {
  border: 0;
  padding-top: 0;

  .field_with_errors {
    @extend %error_wrapper;
    @extend %input_style;
    padding-left: 26px;
  }
}

.radio-fields {
  @include pie-clearfix;

  label {
    float: left;
    clear: right;
    margin-right: 1em;
    margin-left: .5em;
  }

  input {
    &[type="radio"], &[type="checkbox"] {
      float: left;
      clear: left;
    }
  }

  .error-validation-patch {
    @extend %error_wrapper_reset;
    display: inline;

    &:first-of-type {
      .inline-error-message {
        display: block;
      }
    }

    & + label {
      margin-right: 0;
    }

    .inline-error-message {
      display: none;
    }
  }

  span.field_with_errors {
    padding-left: 0;
  }
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"],
  &[type="tel"],
  &[type="number"],
  &[type="url"],
  &[type="password"] {
    @extend %input_style;
    @extend %field_has_errors;
  }
}

textarea {
  @extend %input_style;
  @extend %field_has_errors;
  height: 8em;
}

input[type="submit"],
input[type="button"],
button,
.button {
  @extend %input_box;
  padding-right: $field_padding;
}

.ui-autocomplete {
  background-color: rgba(#fff, .95);
  @include box-shadow;
  @include no-bullets;
  text-align: left;
  border: 1px solid #666;
  padding: 0;
  max-width: $form_width;
}

.ui-menu-item {
  > a {
    display: block;
    padding: .3em;
    cursor: pointer; cursor: hand;
    @include text-shadow(none);
  }
}

.ui-state-hover {
  background-color: lighten(lightblue, 5%);
}
